.pagination {
  max-width: 1000px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1540px) {
    max-width: 800px;
  }
  @media (max-width: 1060px) {
    max-width: 530px;
  }
  @media (max-width: 800px) {
    margin: 0 auto;
  }

  button {
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover,
    &:focus {
      color: orange;
    }
  }
}
