.pagination {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  button {
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover,
    &:focus {
      color: orange;
    }
  }
}
