.table_main {
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.dropdown__pokemon {
  position: relative;
  display: flex;
  margin: 15px;
  @media (max-width: 1350px) {
    flex-direction: column;
  }
  @media (max-width: 800px) {
    flex-direction: row;
  }
}
